<div class="flex flex-col flex-auto bg-card ">
  <apx-chart
      class="flex-auto  h-96"
      [chart]="chartBudgetDistribution.chart"
      [colors]="chartBudgetDistribution.colors"
      [dataLabels]="chartBudgetDistribution.dataLabels"
      [markers]="chartBudgetDistribution.markers"
      [plotOptions]="chartBudgetDistribution.plotOptions"
      [series]="chartBudgetDistribution.series"
      [stroke]="chartBudgetDistribution.stroke"
      [tooltip]="chartBudgetDistribution.tooltip"
      [xaxis]="chartBudgetDistribution.xaxis"
      [yaxis]="chartBudgetDistribution.yaxis"></apx-chart>
</div>