<div class="flex flex-col max-w-240 md:min-w-160 max-h-screen -m-6">

  <!-- Header -->
  <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
    <div class="text-lg font-medium">Ayarlar</div>
    <button mat-icon-button (click)="close()" [tabIndex]="-1">
      <mat-icon class="text-current" [svgIcon]="'heroicons_outline:x'"></mat-icon>
    </button>
  </div>

  
<!-- <ng-container *ngIf="showChangePassword;else info"> -->
  <form class="flex flex-col flex-auto p-6 sm:p-8 overflow-y-auto"  #formDirective="ngForm"  [formGroup]="userForm">

    <fuse-alert
    class="mb-4"
    [appearance]="'outline'"
    [showIcon]="true"
    [type]="'error'"
    >
   <b> Dikkat ! </b> Eğer kullanıyorsanız RitimUS uygulamasındaki şifreniz de değişecektir.
</fuse-alert>
  
      <mat-form-field >
        <mat-label>
          Ad Soyad
        </mat-label>
        <input matInput formControlName='fullName' readonly>
      </mat-form-field>
  
    <mat-form-field class="">
      <mat-label>
      Şifre
      </mat-label>
      <input matInput formControlName='password' type="password">
      <mat-error *ngIf="userForm.get('password').hasError('required')">
        Şifre gereklidir
    </mat-error>
    <mat-error *ngIf="userForm.get('password').hasError('minlength')">
      Şifreniz minimum 6 karakter uzunluğunda olmalı
  </mat-error>
    </mat-form-field>
    <mat-form-field class="">
      <mat-label>
      Şifre Tekrar
      </mat-label>
      <input matInput formControlName='confirmPassword' type="password">
      <mat-error *ngIf="userForm.get('confirmPassword').hasError('required')">
        Şifre tekrarı gereklidir
    </mat-error>
    <mat-error *ngIf="userForm.get('confirmPassword').hasError('mustMatch')">
      Şifreler aynı değil
    </mat-error>
    </mat-form-field>


  </form>
<!-- </ng-container> -->
  <!-- Compose form -->
  <ng-template #info>

    <div class="mt-3 text-center leading-normal text-xl font-semibold">
      Sizin için bir ayar bulunamadı
    </div>
  </ng-template>


  <!-- <button (click)="test(userForm)">aa</button> -->


  <div class="flex  items-center mt-4  py-4 px-4 border-t bg-gray-50 dark:bg-transparent">

    <!-- Cancel -->
    <button class="ml-auto" mat-button (click)="close()">
      <ng-container *transloco="let t;">
        {{ t('cancel') }}
      </ng-container>
    </button>
    <!-- Save -->
    <button class="ml-2" mat-flat-button [color]="'primary'" (click)='save()' [disabled]="userForm.invalid">
      <ng-container *transloco="let t;">
        {{ t('save') }}
      </ng-container>
    </button>
  </div>
</div>